body {
  margin: 0;
  font-family: "OpenSans", sans-serif;
}

ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "OpenSans";
  src: url("https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff")
    format("woff");
  font-weight: 700;
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.popup {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

.popup__form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.popup__content {
  position: relative;
  width: 390px;
  height: 590px;
  background-color: #ffffff;
  padding: 50px 30px;
  box-sizing: border-box;
}

.popup__close {
  cursor: pointer;
  position: absolute;
  color: #ffffff;
  font-size: 40px;
  top: -50px;
  right: 0px;
}

.popup__title {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.popup__title::after {
  position: relative;

  display: block;
  width: 20%;
  height: 3px;
  margin: 0 auto;
  margin-top: 8px;

  background: #b59f5b;

  content: "";
}

.form__select {
  width: 100%;
  height: 50px;
  padding: 15px 20px;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url(../svg/form-arrows.svg);
  background-repeat: no-repeat;
  background-size: 10px;
  background-color: #f4f7f6;
  background-position: right 10px bottom 16px;
}

.form__select:focus {
  outline: 1px solid #b59f5b;
}

.popup__subtitle {
  margin-bottom: 10px;
  display: inline-block;
  font-size: 13px;
  line-height: 1.2;
  padding: 0;
}

.popup__checkbox {
  display: flex;
  gap: 15px;
  border: none;
  padding: 0;
}

.radio {
  position: relative;
}

.popup__radio {
}

.popup__label {
  cursor: pointer;
  display: inline-block;
  padding-left: 22px;
  font-size: 13px;
  vertical-align: top;
}

.popup__label:before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;

  border: 1px solid #b59f5b;
  background-color: #fff;
  border-radius: 50%;

  position: absolute;
  top: 0;
  left: 0;

  transition: border 0.1s linear;
}

.popup__label:after {
  content: "";
  display: block;
  width: 12px;
  height: 12px;

  background-color: #b59f5b;
  border-radius: 50%;
  opacity: 0;

  position: absolute;
  top: 3px;
  left: 3px;

  transition: opacity 0.1s linear;
}

.popup__radio:checked + .popup__label:before {
  border-color: #b59f5b;
}

.popup__radio:checked + .popup__label:after,
.popup__radio:focus + .popup__label:after {
  opacity: 1;
}

.popup__input {
  font-family: "OpenSans", sans-serif;
  font-size: 13px;
  min-width: 100%;
  max-width: 100%;
  min-height: 130px;
  resize: none;
  border: none;
  padding: 20px;
  background-color: #f4f7f6;
  box-sizing: border-box;
}

.popup__input:focus {
  border: none;
  outline: 1px solid #b59f5b;
}

/* ----------------Header---------------- */

.banner {
  position: relative;
  height: 523px;
  background: url(https://netology-code.github.io/html-2-diploma/sources/images/banner-bg.jpg)
    no-repeat;
  background-color: #6d6c69;
  background-size: cover;
  background-position: center;
}

.banner::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 523px;
  background-color: #000;
  opacity: 0.6;
  content: "";
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.header__wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 0;
  z-index: 1;
}

.header__logo img {
  width: 185px;
}

.header__list {
  display: flex;
}

.header__item:nth-child(n + 2) {
  margin-left: 30px;
}

.header__link {
  position: relative;

  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;

  color: #ffffff;
}

.header__link::before {
  position: absolute;
  bottom: -2px;
  right: 0;
  left: 0;

  width: 100%;
  height: 2px;

  background-color: #ffffff;
  opacity: 0;
  content: "";
}

.header__link:hover::before {
  opacity: 1;
  transition: opacity 0.2s;
}

.header__title {
  position: relative;
  max-width: 700px;
  margin: 98px auto 0 auto;
  z-index: 1;
  font-size: 45px;
  font-weight: 700;
  line-height: 75px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

.menu-icon {
  display: none;
  height: 17px;
  width: 22px;
  position: relative;
  cursor: pointer;
  z-index: 5;
}

.menu-icon span {
  transition: all 0.3s ease 0s;
  top: calc(50% - 1.5px);
  left: 0;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #fff;
}

.menu-icon span:first-child {
  top: 0;
}

.menu-icon span:last-child {
  top: auto;
  bottom: 0;
}
/* ----------------/Header---------------- */

/* ----------------Trends Section---------------- */
.trends {
  margin-bottom: 60px;
}

.trends__title {
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 30px;
  font-size: 24px;
}

.trends__title::after {
  position: relative;

  display: block;
  width: 65px;
  height: 3px;
  margin: 0 auto;
  margin-top: 14px;

  background: #b59f5b;

  content: "";
}

.trends__wrapper {
  display: flex;
  gap: 5px;
}

.trends__block {
  position: relative;
  display: flex;
  align-items: flex-end;
  padding: 17px 25px;
  position: relative;
  width: 100%;
  height: 320px;
}

.wrp {
  width: 100%;
  padding: 35px;
  border: 2px solid #b59f5b;
  z-index: 2;
}

.trends__image1 {
  background: #6d6c69 url(../images/trend1.jpg) no-repeat center / cover;
}

.trends__image2 {
  background: #6d6c69 url(../images/trend2.jpg) no-repeat center / cover;
}

.trends__image3 {
  background: #6d6c69 url(../images/trend3.jpg) no-repeat center / cover;
}

.trends__image4 {
  background: #6d6c69 url(../images/trend4.jpg) no-repeat center / cover;
}

.trends__block::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.6;
  content: "";
}

.trends__tags {
  display: flex;
  gap: 15px;
}

.tag__link {
  position: relative;
  z-index: 2;
}

.block__title-link {
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  color: #ffffff;
  position: relative;
  z-index: 2;
}
/* ----------------Trends Section---------------- */

/* ----------------Main Posts---------------- */

.main__body {
  display: flex;
  justify-content: space-between;
  gap: clamp(1.875rem, -5.903rem + 16.2vw, 6.25rem);
  margin-top: 30px;
}

.main__asside {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 60px;
  flex: 1;
}

.post__item {
  display: flex;
  gap: 18px;
}

.post__item:not(:last-child)::after {
  content: "";

  display: none;
  width: 100%;
  height: 4px;
  margin-top: 15px;

  background: #eeeeee;
}

.post__image {
  margin: 0;
}

.post__tags {
  display: flex;
  flex-wrap: wrap;
}

.tag__item:not(:last-child) {
  margin-right: 15px;
}

.tag__link {
  display: inline-block;

  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;

  color: #b59f5b;
}

.tag__link::after {
  position: relative;
  top: -3px;

  display: block;
  height: 2px;

  background: #b59f5b;
  opacity: 0;
  content: "";
}

.tag__link:hover::after {
  opacity: 0.5;
  transition: opacity 0.2s;
}

.post__title {
  margin-top: 5px;
  margin-bottom: clamp(0.938rem, -1.396rem + 4.86vw, 2.25rem);
}

.title__link {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000;
}

.info-date-author {
  margin-bottom: clamp(1.25rem, -2.306rem + 7.41vw, 3.25rem);
}

.author {
  display: inline-block;
  margin-left: 16px;

  font-size: 12px;
  font-weight: 700;
}

.post__text {
  margin: 0;
  margin-bottom: 20px;

  font-size: 15px;
  font-weight: 400;
}

.post__text:last-child {
  margin-bottom: 0;
}

/* ----------------/Main Posts---------------- */

/* ----------------Asside---------------- */

/* .aside-item {
  margin-top: 50px;
} */

.aside__title {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;

  color: #000000;
}

.aside__title::after {
  position: relative;

  display: block;
  width: 65px;
  height: 3px;
  margin: 0 auto;
  margin-top: 14px;

  background: #b59f5b;

  content: "";
}

.new-posts__list {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.new-posts__item {
  display: inline-block;
  width: 100%;
}

.new-posts__image img {
  float: left;
  margin-right: 18px;
}

.date {
  font-size: 12px;
  font-weight: 400;
  text-align: left;
  color: rgba(0, 0, 0, 0.541);
}

.new-post__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
}

.new-post__link {
  color: #000000;
}

.search {
  align-items: flex-end;
  display: flex;
  width: 100%;
}

.search__group {
  display: inline-block;
}

.search__field {
  display: inline-block;
  box-sizing: border-box;
  width: 223px;
  height: 47px;
  margin-top: 60px;
  padding: 17px 14px;

  font-size: 13px;
  font-weight: 400;
  text-align: left;

  color: rgba(0, 0, 0, 0.541);
  background: #f4f7f6;
  border: none;
}

.search__field:focus {
  outline: none;
  border-bottom: 2px solid #b59f5b;
}

.search__button {
  width: 47px;
  height: 47px;
  background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/search.svg");
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: center;
  background-color: #b59f5b;
  border: none;
  vertical-align: top;
  cursor: pointer;
}

.email__input {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  height: 47px;
  margin-top: 40px;
  margin-bottom: 15px;
  padding: 17px 14px;

  font-size: 13px;
  font-weight: 400;
  text-align: left;

  color: rgba(0, 0, 0, 0.541);
  background: #f4f7f6;
  border: none;
}

.email__input:focus {
  border-bottom: 2px solid #b59f5b;
  outline: none;
}

.btn {
  width: 100%;
  height: 47px;

  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  border: none;

  color: #ffffff;
  background-color: #b59f5b;

  cursor: pointer;
}

.tags__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
  gap: 3px 10px;
}

/* .tags__item {
} */

.tags__link {
  padding: 6px 10px;
  display: block;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;

  color: #4e4e4e;
  border: 3px solid #eeeeee;
}

.tags__link:hover {
  color: #000000;
}

.categories__list {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.categories__item::after {
  content: "";

  display: block;
  width: 100%;
  height: 2px;
  margin-top: 15px;

  background: #eeeeee;
}

.categories__link {
  position: relative;

  display: inline;
  width: 100%;

  font-size: 14px;
  font-weight: 700;

  color: #4e4e4e;
}

.categories__link:hover {
  color: #000000;
}

.categories__amount {
  position: absolute;

  margin-left: 2px;

  font-size: 12px;
  font-weight: 700;

  color: #b59f5b;
}

/* ----------------/Asside---------------- */

/* ----------------Products card---------------- */

.products__block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
}

.product__info {
  border: 3px solid #d3c59d;
  padding: 30px 20px;
  margin-top: -35px;
  position: relative;
  flex-grow: 1;
  width: 300px;
}

.product__title {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

.product__discription {
  font-size: 15px;
}

.product__img {
  text-align: center;
}

.product__card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product__action {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.product__price {
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
}

.product__link {
  color: #b59f5b;
}

.product__link:hover {
  text-decoration: underline;
}

.product__price_old {
  font-size: 12px;
  text-decoration: line-through;
}

.product__button {
  border: none;
  background-color: #b59f5b;
  padding: 1em 1.8em;

  cursor: pointer;
  text-transform: uppercase;

  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
}

/* ----------------/Products card---------------- */

/* ----------------Footer---------------- */

.social-network {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 75px;
  margin-top: 64px;

  background-color: #f4f7f6;
}

.social-network__list {
  display: flex;
  flex-direction: row;
}

.social-network__item:not(:last-child) {
  margin-right: 30px;
}

.social-network__icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px;
}

.social-network__dribbble {
  background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/001-dribbble.svg");
}

.social-network__pinterest {
  background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/002-pinterest.svg");
}

.social-network__tumblr {
  background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/003-tumblr.svg");
}

.footer__copyright {
  margin-top: 74px;
  margin-bottom: 33px;
  text-align: center;
}

.copyright {
  font-size: 12px;
  font-weight: 700;
  text-align: center;

  color: #999999;
}

/* ----------------/Footer---------------- */

/* ----------------Media---------------- */

@media (min-width: 768px) and (max-width: 1199px) {
  .header__list {
    display: none;
  }
  .menu-icon {
    display: block;
  }

  .trends__wrapper {
    flex-wrap: wrap;
  }
  .trends__block {
    flex-grow: 1;
    width: calc(50% - 53px);
  }
  .block__title-link {
    font-size: 18px;
  }
  .post__item {
    flex-direction: column;
  }

  .main {
    flex: 1.5;
  }

  .post__item:not(:last-child)::after {
    display: block;
  }

  .img {
    width: 100%;
  }

  .products__block {
    grid-template-columns: repeat(2, 300px);
    justify-content: center;
    column-gap: clamp(6.25rem, 0.694rem + 11.57vw, 9.375rem);
  }
}

@media (min-width: 360px) and (max-width: 767px) {
  .header__list {
    display: none;
  }
  .menu-icon {
    display: block;
  }

  .header__title {
    font-size: 26px;
    line-height: 1.5;
    margin-top: 200px;
  }
  .banner {
    background-position: 25% 25%;
  }
  .header__wrapper {
    display: block;
  }
  .header__logo {
    position: absolute;
    margin: 0 auto;
    top: 200px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .header__menu {
    position: absolute;
    right: 0;
    top: 30px;
  }
  .trends__wrapper {
    flex-direction: column;
  }
  .trends__block {
    width: auto;
  }
  .main__body {
    flex-direction: column;
  }
  .post__item {
    flex-direction: column;
  }
  .img {
    width: 100%;
  }
  .post__item:not(:last-child)::after {
    display: block;
  }
  .main__asside {
    width: 100%;
  }
  .search__field {
    width: 100%;
  }
  .search__group {
    width: 100%;
  }
  .tags__list {
    justify-content: space-between;
  }
  .products__block {
    grid-template-columns: repeat(1, 1fr);
  }
  .product__info {
    max-width: 300px;
  }
}
